.nav-wrap {
  background: #2d2d2d url("../img/texture.png");
  width: 100%;
  margin: 20px auto;
  height: 68px;

  @include media(tabletLrg) {
    box-shadow: 0px 1px 1px 1px rgba(196, 184, 184, 0.7);
    height: 45px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15px 10px;
  max-width: 950px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 13px;

  @include media(tabletLrg) { display: none }


  a {
    color: #f1f1f1;
    padding: 10px 25px;
    border-radius: 3px;
    margin-right: 10px;
    transition: transform 0.3s ease;

    &:hover {
      color: #ccc;
      box-shadow: 0px -1px 3px 0px #545454;
    }

    &.active {
      color: #00d8ff;
      transform: translateY(2px);
    }

    &.active, &:focus {
      box-shadow: 0px -1px 1px 0px #545454;
    }
  }
}

.nav-mobile, .nav-trigger {
  display: none;
}

@include media(tabletLrg) {
  .nav-mobile, .nav-trigger {
    display: block;
  }
}


.nav-trigger {
  display: block;
  text-align: center;
  background: #222 url("../img/texture.png") repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
  cursor: pointer;
  height: 30px;
  padding: 0;
  width: 35px;
  float: right;
  margin: 7px 7px 5px;

  span {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: 5px;
    &:before {
      display: block;
      background: #f0f0f0 none repeat scroll 0 0;
      box-shadow: 0 0.38em 0 0 #f0f0f0, 0 0.76em 0 0 #f0f0f0;
      border-radius: 3px;
      content: "";
      height: 0.15em;
      left: 0;
      top: 0;
      width: 1.3em;
    }
  }
}

.nav-mobile {
  opacity: 1;
  transition: height 500ms 0ms, opacity 500ms 500ms;
  margin-top: -5px;

  &.hide {
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0;
    height: 0px;
  }

  a {
    clear: both;
    background: #222 url("../img/texture.png") repeat scroll 0 0;
    border-top: 1px solid #555;
    color: #fff;
    display: block;
    text-align: right;
    line-height: 30px;
    padding: 7px 11px;
    text-transform: uppercase;
    @include media(tabletLrg) { text-transform: capitalize }
    &:hover {
      color: darken($blue, 15%);
    }

    &.active {
      color: $blue;
    }
  }
}

.current {
  color: $blue;
  @include fontsize(16);
  display: flex;
  align-items: center;
  padding: 0 35px;
  height: 50px ;
  text-transform: uppercase;
  background: url("../img/logo.svg") no-repeat  10px center / 20px auto;
}
