$mobile: 578px;
$tablet: 700px;
$tabletLrg: 950px;

$desktop: 1100px;
$highlight: #233345;
$blue: #00D8FF;
$background: #0b7755;

@mixin media($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
  @else if $media == tablet {
    @media all and (max-width: $tablet) {
      @content;
    }
  }
  @else if $media == tabletLrg {
    @media only screen and (max-width: $tabletLrg) {
      @content;
    }
  }
  @else if $media == maxModal {
    @media only screen and (max-width: $modal) {
      @content;
    }
  }
}

@mixin fontsize($size) {
  font-size: ($size / 16) * 100%;
  font-size: ($size / 16) + rem;
}


@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
