body
	font-family: 'Roboto', sans-serif

h1, h2, p
	color: #fff
	text-shadow: -1px 1px 3px #333
	font-weight: 300

.container h1, h2, h3, p 
	padding: 10px 32px 14px 
	+media(tabletLrg)
		padding: 10px 5px 14px

.container h1	
	font-size: 30px

h1
	font-size: 50px
  text-shadow: 0px 4px 3px #000
	position: relative
	+media(tabletLrg)
		font-size: 34px

h1 + p
	margin-top: 10px

h3
	font-size: 50px
	color: #ffffff

p
	font-size: 15px
	line-height: 2em


		
	